@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #40534C;
    --secondary-color: #677D6A;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--primary-color);
    font-family: 'Roboto';
    margin: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background: var(--secondary-color);
}

.search {
    background: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem 1rem;
    color: #fff;
    align-items: center;
    display: block;
  margin-left: auto;
  margin-top: 16px;
}

.search::placeholder {
    color: #ffffff;
}

.search:focus {
    outline: none;
    background: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 300px;
    margin: 1rem;
    background: var(--secondary-color);
    box-shadow: 0 4px 5px rgb(0, 0, 0 .2);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    font-size: 1em;
}

.movie img {
    width: 100%;
    border-radius:  0,0 10px;
    height: 400px;
}

.movie-info {
    width: auto;
    height: 60px;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem 1rem;
    letter-spacing: .5px;
}

.movie-info h3 {
    width: auto;
    height: auto;
    margin-top: 1;
}

.movie-info span {
    background: var(--primary-color);
    padding: .25rem .5rem;
    border-radius: 5px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    color: #ffffff;
    background: #677D6A;
    padding: 2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 1s ease-in-out;
}

.movie:hover .overview {
    transform: translateY(0);
}


.isim {
    padding-right: 75%;
    color: #fff;
}

.movie {
    margin-right: auto;
}
.footer {
    position:absolute;
    bottom: auto;
    right: 0;
    left :0;
    text-align: center;
    padding : 1rem;
    background : #000000;
    font-size : 12px;
  }
.yazı{
    color: white;
    align-items: center;
    text-align: left;
    display: flex;
}
